<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Other Layout</title>
  </head>
  <body>
      <header>
    </header>
    <div>Other Layout</div>
    <div>
        {{{body}}}
    </div>
  </body>
</html>