<br>
<a href="list">LIST OF UNZIPPED FILES</a>
<div>
  
  <br>
  <form onsubmit="fileUpload(this); return false;">
    <div>
      <label for="formFile">
        Upload Files
      </label>

      <input type="file", class="form-control", id="formFile" name="file1"/>

    </div>
    <div>
      <button type="submit">SUBMIT</button>
    </div>
    <script src="./main.js"></script>
  </form>


</div>
